<form method='post' action='/entries'>
  <label for="title">Title:</label><br>
  <input type='text' id='title' name='title'><br><br>
  <label for="body">What's on your mind?</label><br>
  <textarea rows="10" cols="50" id='body' name='body'></textarea><br><br>
  <input type='submit' id='Submit'>
</form>